<% if @constituency_area.english_region_id -%>
	<%= content_tag( 'p', "A #{@constituency_area.area_type.downcase} constituency in #{@constituency_area.english_region_name}, #{@constituency_area.country_name} established as part of the #{link_to( "#{@constituency_area.start_on.strftime( '%Y' )} boundary set", boundary_set_show_url( :boundary_set => @constituency_area.boundary_set_id))}.".html_safe ) %>
<% else -%>
	<%= content_tag( 'p', "A #{@constituency_area.area_type.downcase} constituency in #{@constituency_area.country_name} established as part of the #{link_to( "#{@constituency_area.start_on.strftime( '%Y' )} boundary set", boundary_set_show_url( :boundary_set => @constituency_area.boundary_set_id))}.".html_safe ) %>
<% end -%>

<%= content_tag( 'p', "Geography code: #{link_to( @constituency_area.geography_code, "https://www.ons.gov.uk/visualisations/areas/#{@constituency_area.geography_code}/" )}".html_safe ) %>

<%= content_tag( 'p', link_to( "Statistics from the ONS on #{@constituency_area.name}", "https://www.ons.gov.uk/visualisations/customprofiles/build/##{@constituency_area.geography_code}" ) ) %>

<div id="elections">
	<%= content_tag( 'h2', 'Elections' ) %>
	<ol>
		<%= render :partial => 'election/election_in_constituency_area', :collection => @elections %>
	</ol>
</div>