<%= render :partial => 'previous_next', :object => @general_election %>

<%= render :partial => 'general_election_country/nav' %>

<%= render :partial => 'general_election/counts', :object => @general_election %>

<%= content_tag( 'p', "Registered political parties nominating candidates standing in the general election on #{@general_election.polling_on.strftime( $DATE_DISPLAY_FORMAT )}. This list does not include candidates standing as independents or the candidate standing as House of Commons Speaker." ) %>

<div class="table-wrapper">
	<table>
		<thead>
			<tr>
				<%= content_tag( 'td', 'Party' ) %>
				<%= content_tag( 'td', 'Constituencies contested', :class => 'number' ) %>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => 'general_election_party/party_performance_candidates_only', :collection => @party_performances %>
		</tbody>
	</table>
</div>