<%= render :partial => 'previous_next', :object => @general_election %>

<%= render :partial => 'general_election/counts', :object => @general_election %>

<%= render :partial => 'general_election_country/nav' %>


<% unless @party_performances.empty? %>
	<%= content_tag( 'p', "Registered political parties nominating candidates standing in the general election on #{@general_election.polling_on.strftime( $DATE_DISPLAY_FORMAT )}. This list does not include candidates standing as independents or the candidate standing as House of Commons Speaker." ) %>
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<%= content_tag( 'td', 'Party' ) %>
					<%= content_tag( 'td', 'Constituencies contested', :class => 'number' ) %>
					<%= content_tag( 'td', 'Votes', :class => 'number' ) %>
					<%= content_tag( 'td', 'Vote share', :class => 'number' ) %>
					<%= content_tag( 'td', 'Constituencies won', :class => 'number' ) %>
				</tr>
			</thead>
			<tbody>
				<%= render :partial => 'party_performance', :collection => @party_performances %>
			</tbody>
		</table>
	</div>
	<div id="downloads">
		<p>
			<%= csv_icon_link(	general_election_country_political_party_list_url( :format => 'csv' ), "Download the data shown on this page: party data in #{@country.name} as a CSV file." ) %>
		</p>
		<p>
			<%= csv_icon_link(	general_election_country_candidacy_list_url( :format => 'csv' ), "Download the full data set: candidate-level general election result data in #{@country.name} as a CSV file." ) %>
		</p>
	</div>
<% end -%>