<tr>
	<%= content_tag( 'td', link_to( vote_share_row.constituency_area_name, constituency_area_show_url( :constituency_area => vote_share_row.constituency_area_id ) ) ) %>
	<%= content_tag( 'td', link_to( vote_share_row.general_election_polling_on.strftime( $DATE_DISPLAY_FORMAT ), general_election_show_url( :general_election => vote_share_row.general_election_id ) ) ) %>
	<td>
		<% if vote_share_row.winning_candidacy_standing_as_commons_speaker -%>
			<%= content_tag( 'abbr', 'Spk', :title => 'Speaker' ) %>
		<% elsif vote_share_row.winning_candidacy_standing_as_independent -%>
			<%= content_tag( 'abbr', 'Ind', :title => 'Independent' ) %>
		<% elsif vote_share_row.winning_candidacy_adjunct_party_name -%>
			<%= "#{link_to( vote_share_row.winning_candidacy_party_abbreviation, political_party_show_url( :political_party => vote_share_row.winning_candidacy_party_id ), :title => vote_share_row.winning_candidacy_party_name )} / #{link_to( vote_share_row.winning_candidacy_adjunct_party_abbreviation, political_party_show_url( :political_party => vote_share_row.winning_candidacy_adjunct_party_id ), :title => vote_share_row.winning_candidacy_adjunct_party_name )}".html_safe %>
		<% else -%>
			<%= link_to( vote_share_row.winning_candidacy_party_abbreviation, political_party_show_url( :political_party => vote_share_row.winning_candidacy_party_id ), :title => vote_share_row.winning_candidacy_party_name ) %>
		<% end -%>
	</td>
	<%= content_tag( 'td', link_to( "#{( vote_share_row.vote_share.to_f * 100 ).round( 1 )}%", election_show_url( :election => vote_share_row ) ), :class => 'number' ) %>
</tr>