<%= render :partial => 'previous_next', :object => @boundary_set %>

<%= render :partial => 'boundary_set/nav' %>

<% if @elections.empty? -%>
	<%= content_tag( 'p', 'General election vote share information is not yet available.' ) %>
<% else -%>
	<div class="table-wrapper">
		<table id ="vote-share" class="multibody">
			<thead>
				<tr>
					<%= content_tag( 'td', 'Constituency area' ) %>
					<%= content_tag( 'td', 'General election' ) %>
					<%= content_tag( 'td', 'Winning party' ) %>
					<%= content_tag( 'td', 'Vote share', :class => 'number' ) %>
				</tr>
			</thead>
			<tbody>
				<%= render :partial => 'vote_share', :collection => @elections, cached: true %>
			</tbody>
		</table>
	</div>
<% end -%>