<tr>
	<%= content_tag( 'td', election_iteration.index + 1 ) %>
	<%= content_tag( 'td', link_to( election.constituency_group_name, election_show_url( :election => election ) ) ) %>
	<td>
		<% if election.winning_candidacy_mnis_id -%>
			<%= link_to( election.candidate_polling_name, member_show_url( :member => election.winning_candidacy_mnis_id ) ) %>
		<% else -%>
			<%= election.candidate_polling_name %>
		<% end -%>
	</td>
	<td>
		<% if election.winning_candidacy_standing_as_commons_speaker -%>
			<%= content_tag( 'abbr', 'Spk', :title => 'Speaker' ) %>
		<% elsif election.winning_candidacy_standing_as_independent -%>
			<%= content_tag( 'abbr', 'Ind', :title => 'Indpendent' ) %>
		<% elsif election.adjunct_party_id -%>
			<%= "#{link_to( election.main_party_abbreviation, political_party_show_url( :political_party => election.main_party_id ), :title => election.main_party_name )} / #{link_to( election.adjunct_party_abbreviation, political_party_show_url( :political_party => election.adjunct_party_id ), :title => election.adjunct_party_name )}".html_safe %>
		<% else -%>
			<%= link_to( election.main_party_abbreviation, political_party_show_url( :political_party => election.main_party_id ), :title => election.main_party_name ) %>
		<% end -%>
	</td>
	<%= content_tag( 'td', election.majority.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse, :class => 'number' ) %>
	<%= content_tag( 'td', election.valid_vote_count.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse, :class => 'number' ) %>
	<%= content_tag( 'td', "#{( election.majority_percentage * 100 ).round( 1 )}%", :class => 'number' ) %>
</tr>


