<%= render :partial => 'general_election/counts', :object => @general_election %>

<%= render :partial => 'general_election/nav' %>

<table>
	<thead>
		<tr>
			<%= content_tag( 'td', 'Ranking' ) %>
			<%= content_tag( 'td', 'Constituency' ) %>
			<%= content_tag( 'td', 'Winning candidate' ) %>
			<%= content_tag( 'td', 'Winning party' ) %>
			<%= content_tag( 'td', 'Majority', :class => 'number' ) %>
			<%= content_tag( 'td', 'Valid vote count', :class => 'number' ) %>
			<%= content_tag( 'td', 'Majority / valid vote count', :class => 'number' ) %>
		</tr>
	<tbody>
		<%= render :partial => 'election', :collection => @elections %>
	</tbody>
</table>