<%= render :partial => 'previous_next_contested', :object => @general_election %>

<%= render :partial => 'nav' if @general_election.has_results? %>

<%= render :partial => 'general_election/counts', :object => @general_election %>

<%= content_tag( 'p', @political_party.disclaimer ) if @political_party.disclaimer %>

<% if @general_election.has_results? -%>
	
	<% if @elections_contested.empty? %>
		<%= content_tag( 'p', 'No elections contested.' ) %>
	<% else -%>
		<div class="table-wrapper">
			<table id="results" class="sortable sorted-<%= @order %>">
				<%= render :partial => 'general_election_english_region_party_election/table_head_contested' %>
				<tbody>
					<%= render :partial => 'general_election_party_election/election_contested', :collection => @elections_contested %>
				</tbody>
			</table>
		</div>
		<%= render :partial => 'turnout/notice' %>
		<%= render :partial => 'lost_deposit/notice', :object => @general_election.polling_on %>
		<%= render :partial => 'general_election/notional_based_change_disclaimer/vote_change', :object => @countries_having_first_elections_in_boundary_set unless @countries_having_first_elections_in_boundary_set.empty? %>
	<% end -%>
<% end -%>

