<%= render :partial => 'previous_next_won', :object => @general_election %>

<%= render :partial => 'nav' if @general_election.has_results? %>

<%= render :partial => 'general_election/counts', :object => @general_election %>

<%= content_tag( 'p', @political_party.disclaimer ) if @political_party.disclaimer %>

<% if @general_election.has_results? -%>
	<% if @elections_won.empty? %>
		<%= content_tag( 'p', 'No elections won.' ) %>
	<% else -%>
		<div class="table-wrapper">
			<table id="results" class="sortable sorted-<%= @order %>">
				<%= render :partial => 'general_election_english_region_party_election/table_head_won' %>
				<tbody>
					<%= render :partial => 'general_election_party_election/election_won', :collection => @elections_won %>
				</tbody>
			</table>
		</div>
		<%= render :partial => 'turnout/notice' %>
	<% end -%>
<% end -%>