<%= render :partial => 'general_election/counts', :object => @general_election %>

<% if @general_election.has_results? -%>
	<%= render :partial => 'nav' %>

	<% if @elections_won.empty? %>
		<%= content_tag( 'p', 'No elections won.' ) %>
	<% else -%>
		<table>
			<thead>
				<tr>
					<%= content_tag( 'td', 'Constituency' ) %>
					<%= content_tag( 'td', 'Electorate', :class => 'number' ) %>
					<%= content_tag( 'td', 'Turnout', :class => 'number' ) %>
					<%= content_tag( 'td', 'Votes', :class => 'number' ) %>
					<%= content_tag( 'td', 'Vote share', :class => 'number' ) %>
					<%= content_tag( 'td', 'Majority', :class => 'number') %>
				</tr>
			</thead>
			<tbody>
				<%= render :partial => 'general_election_party_election/notional_election_won', :collection => @elections_won %>
			</tbody>
		</table>
	<% end -%>
<% end -%>
<%= render :partial => 'notional/notice' %>