<% if @general_election.has_results? %>
	<%= render :partial => 'sub_nav_header/header' %>
	<div class="subnav">
		<p>
			<% if @general_election.is_notional -%>
				<%= link_to( 'Party', general_election_english_region_political_party_list_url ) %>
				<%= link_to( 'Constituency', general_election_english_region_show_url ) %>
				<%= link_to( 'Majority', general_election_english_region_majority_list_url ) %>
				<%= link_to( 'Vote share of winning candidate', general_election_english_region_vote_share_list_url ) %>
				<%= link_to( 'Turnout', general_election_english_region_turnout_list_url ) %>
			<% else -%>
				<%= link_to( 'Party', general_election_english_region_political_party_list_url ) %>
				<%= link_to( 'Constituency', general_election_english_region_show_url ) %>
				<%= link_to( 'Majority', general_election_english_region_majority_list_url ) %>
				<%= link_to( 'Vote share of winning candidate', general_election_english_region_vote_share_list_url ) %>
				<%= link_to( 'Turnout', general_election_english_region_turnout_list_url ) %>
				<%= link_to( 'Declaration time', general_election_english_region_declaration_time_list_url ) %>
				<%= link_to( 'Non-party candidates', general_election_english_region_uncertified_candidacy_list_url ) %>
		<% end -%>
	</div>
<% end -%>