<% if @general_election.has_results? %>
	<p class="subnav">
		<% if @general_election.is_notional -%>
			<%= link_to( 'Parties', general_election_country_show_url, :class => 'parties' ) %>
			<%= link_to( 'Constituencies', general_election_country_constituency_area_list_url, :class => 'constituency-areas' ) %>
			<%= link_to( 'Majorities', general_election_country_majority_list_url, :class => 'majorities' ) %>
			<%= link_to( 'Vote shares of winning candidates', general_election_country_vote_share_list_url, :class => 'vote-shares' ) %>
			<%= link_to( 'Turnouts', general_election_country_turnout_list_url, :class => 'turnouts' ) %>
		<% else -%>
			<%= link_to( 'Parties', general_election_country_show_url, :class => 'parties' ) %>
			<%= link_to( 'Constituencies', general_election_country_constituency_area_list_url, :class => 'constituency-areas' ) %>
			<%= link_to( 'Majorities', general_election_country_majority_list_url, :class => 'majorities' ) %>
			<%= link_to( 'Vote shares of winning candidates', general_election_country_vote_share_list_url, :class => 'vote-shares' ) %>
			<%= link_to( 'Turnouts', general_election_country_turnout_list_url, :class => 'turnouts'  ) %>
			<%= link_to( 'Declaration times', general_election_country_declaration_time_list_url, :class => 'declaration-times' ) %>
			<%= link_to( 'Non-party candidates', general_election_country_uncertified_candidacy_list_url, :class => 'uncertified-candidacies' ) %>
		<% end -%>
	</p>
<% end -%>