<%= render :partial => 'general_election/counts', :object => @general_election %>

<% if @country.geographic_code -%>
	<% if @country.ons_linked -%>
		<%= content_tag( 'p', "Geographic code: #{link_to( @country.geographic_code, "https://www.ons.gov.uk/visualisations/areas/#{@country.geographic_code}/" )}".html_safe ) %>
	<% else -%>
		<%= content_tag( 'p', "Geographic code: #{@country.geographic_code}" ) %>
	<% end -%>
<% end -%>

<%= render :partial => 'general_election_country/nav' %>

<% unless @countries.empty? %>
	<div id="countries">
		<%= content_tag( 'h2', "Countries in #{@country.name}" ) %>
		<ol>
			<%= render :partial => 'country', :collection => @countries %>
		</ol>
	</div>
<% end -%>

<% unless @english_regions.empty? %>
	<div id="english-regions">
		<%= content_tag( 'h2', 'English regions' ) %>
		<ol>
			<%= render :partial => 'general_election_english_region/english_region', :collection => @english_regions %>
		</ol>
	</div>
<% end -%>

<% unless @elections.empty? %>
	<div id="elections-<%= @country.name.downcase %>">
		<%= content_tag( 'h2', "Elections in #{@country.name}" ) %>
		<ol>
			<%= render :partial => 'election/election', :collection => @elections %>
		</ol>
	</div>
<% end -%>

<%= render :partial => 'notional/notice' %>

<% unless @elections.empty? %>
	<div id="downloads">
		<p>
			<%= csv_icon_link(	general_election_candidacy_list_url( :format => 'csv' ), "Download the full data set: candidate-level general election result data as a CSV file." ) %>
		</p>
	</div>
<% end -%>