<%= render :partial => 'previous_next', :object => @general_election %>

<%= render :partial => 'general_election/counts', :object => @general_election %>

<%= render :partial => 'general_election/nav' %>

<% unless @elections.empty? %>
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<%= content_tag( 'td', 'Ranking' ) %>
					<%= content_tag( 'td', 'Constituency' ) %>
					<%= content_tag( 'td', 'Winning candidate' ) %>
					<%= content_tag( 'td', 'Winning party' ) %>
					<%= content_tag( 'td', 'Valid vote count', :class => 'number' ) %>
					<%= content_tag( 'td', 'Electorate', :class => 'number' ) %>
					<%= content_tag( 'td', 'Turnout (valid vote count / electorate)', :class => 'number' ) %>
				</tr>
			</thead>
			<tbody>
				<%= render :partial => 'election', :collection => @elections %>
			</tbody>
		</table>
	</div>
<% end -%>