<div class="table-wrapper">
	<table>
		<thead>
			<tr>
				<%= content_tag( 'td', 'Party' ) %>
				<%= content_tag( 'td', 'Legacy Electoral Commission ID' ) %>
				<%= content_tag( 'td', 'Electoral Commission ID' ) %>
				<%= content_tag( 'td', 'Registered on' ) %>
				<%= content_tag( 'td', 'Deregistered on' ) %>
				<%= content_tag( 'td', 'Primary name last updated on' ) %>
				<%= content_tag( 'td', 'Country' ) %>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => 'political_party_registration', :collection => @political_party_registrations %>
		</tbody>
	</table>
</div>