<%= render :partial => 'political_party/nav' %>

<div class="table-wrapper">
	<table id="registrations" class="sortable sorted-<%= @order %>">
		<%= render :partial => 'table_head' %>
		<tbody>
			<%= render :partial => 'political_party_registration', :collection => @political_party_registrations %>
		</tbody>
	</table>
</div>

<div id="downloads">
	<p>
		<%= csv_icon_link(political_party_registration_list_url( :format => 'csv' ), "Download political party registration data as a CSV file") %>
	</p>
</div>