<%= render :partial => 'general_election/nav' %>

<%= render :partial => 'general_election/counts', :object => @general_election %>

<% unless @elections.empty? %>

	<div id="countries">
		<%= content_tag( 'h2', 'Notional election results by country' ) %>
		<%= content_tag( 'p', "Countries having notional election results for the #{@general_election.polling_on.year} general election." ) %>
		<ol>
			<%= render :partial => 'general_election_country/country', :collection => @countries %>
		</ol>
	</div>
	
	<div id="all">
		<%= content_tag( 'h2', 'All notional election results' ) %>
		<ol>
			<%= render :partial => 'election/election', :collection => @elections %>
		</ol>
	</div>
<% end -%>

<%= render :partial => 'notional/notice' %>

<div id="downloads">
	<p>
		<%= csv_icon_link(	general_election_candidacy_list_url( :format => 'csv' ), "Download the full data set: candidate-level general election result data as a CSV file." ) %>
	</p>
</div>