<tr>
	<td class="<%= party_performance.party_class_name %>">
		<%= link_to( party_performance.party_name, political_party_show_url( :political_party => party_performance.political_party_id ) ) %>
	</td>
	<%= content_tag( 'td', link_to( party_performance.constituency_contested_count, general_election_english_region_party_election_list_url( :political_party => party_performance.political_party_id ) ), :class => 'number' ) %>
	<%= content_tag( 'td', party_performance.cumulative_vote_count.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse, :class => 'number' ) %>
	<%= content_tag( 'td', "#{party_performance.vote_share( @valid_vote_count_in_general_election_in_english_region )}%", :class => 'number' )%>
	<% if party_performance.constituency_won_count == 0 %>
		<%= content_tag( 'td', party_performance.constituency_won_count, :class => 'number' ) %>
	<% else -%>
		<%= content_tag( 'td', link_to( party_performance.constituency_won_count, general_election_english_region_party_election_won_url( :political_party => party_performance.political_party_id ) ), :class => 'number' ) %>
	<% end -%>
</tr>