<%= render :partial => 'general_election_english_region/nav' %>

<%= render :partial => 'general_election/counts', :object => @general_election %>




<% unless @party_performances.empty? %>
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<%= content_tag( 'td', 'Party' ) %>
					<%= content_tag( 'td', 'Constituencies contested', :class => 'number' ) %>
					<%= content_tag( 'td', 'Votes', :class => 'number' ) %>
					<%= content_tag( 'td', 'Vote share', :class => 'number' ) %>
					<%= content_tag( 'td', 'Constituencies won', :class => 'number' ) %>
				</tr>
			</thead>
			<tbody>
				<%= render :partial => 'general_election_english_region_political_party/party_performance', :collection => @party_performances %>
			</tbody>
		</table>
	</div>
<% end -%>
<%= render :partial => 'notional/notice' %>