<p>This website is published by the <a href="https://commonslibrary.parliament.uk">House of Commons Library</a> and contains election results data for the House of Commons.</p>

<p>We publish <a href="https://commonslibrary.parliament.uk/topic/parliament-and-elections/elections-elections/">briefing papers</a>, with more detailed analysis of election results.</p>

<%= content_tag( 'p', "This website provides result data for the general elections of #{output_election_lists_of_links} and by-elections taking place since the 2015 general election. That is, during the  #{link_to( '56th', parliament_period_show_url( :parliament_period => 56, :anchor => 'by-elections' ) )}, #{link_to( '57th', parliament_period_show_url( :parliament_period => 57, :anchor => 'by-elections' ) )}, #{link_to( '58th', parliament_period_show_url( :parliament_period => 58, :anchor => 'by-elections' ) )} and #{link_to( '59th', parliament_period_show_url( :parliament_period => 59, :anchor => 'by-elections' ) )} Parliaments.".html_safe ) %>

<p>The 2010 general election was contested on boundaries introduced in England, Wales and Northern Ireland on the dissolution of the 54th Parliament. This site includes <a href="/general-elections/7">notional results for the 2005 general election</a>, had the 2005 general election been contested on the 2010 boundaries.</p>

<p>The 2024 general election was contested on boundaries introduced across the UK on the dissolution of the 58th Parliament. This site includes <a href="/general-elections/5">notional results for the 2019 general election</a>, had the 2019 general election been contested on the 2024 boundaries.</p>

<p>As well as <a href="/general-elections">general election</a> data, this site includes tables for:</p>
<ul>
    <li><a href="/members">Members</a>: candidacies of former and current MPs at general elections since 2010</li>
    <li><a href="/political-parties/winning">Parties</a>: performance of registered parties standing in these elections</li>
    <li><a href="/constituency-areas/current">Constituencies</a>: results by constituency since 2010</li>
</ul>

<p>This site lists <a href="/acts-of-parliament">legislation</a> relating to constituency boundaries and boundary changes.</p>
<%= content_tag( 'p', "Our #{link_to( 'roadmap', meta_roadmap_url)} sets out future plans for this site.".html_safe ) %>

<div id="data-analysis">
	<h2>Data analysis</h2>
	<p>The database schema is available as <%= link_to( 'an entity relationship diagram', meta_schema_url ) %>. Explanations of tables and fields can be found in the <%= link_to( 'data dictionary', meta_data_dictionary_url ) %>.</p>
</div>

<div id="using-datasette">
	<h3>Using Datasette</h3>
	<p><a href="https://datasette.io">Datasette</a> is a tool for exploring and publishing data.</p>
	<p>The data can be viewed and queried using <%= link_to( 'Datasette Lite', 'https://lite.datasette.io/?url=https%3A%2F%2Fraw.githubusercontent.com%2Fukparliament%2Fpsephology-datasette%2Fmain%2Fpsephology.db%3Fraw%3Dtrue#psephology' ) %>.</p>
</div>