<thead>
	<tr>
		<td class="default-ascending">
			<% if @sort == 'constituency-name' -%>
				<% if @order == 'ascending' -%>
					<%= link_to( 'Constituency', general_election_party_election_won_url( :sort => 'constituency-name', :order => 'descending', :anchor => 'results' ), :class => 'sorted', :title => 'Sort by constituency name' ) %>
				<% else -%>
					<%= link_to( 'Constituency', general_election_party_election_won_url( :anchor => 'results' ), :class => 'sorted', :title => 'Sort by constituency name' ) %>
				<% end -%>
			<% else -%>
				<%= link_to( 'Constituency', general_election_party_election_won_url( :anchor => 'results' ), :title => 'Sort by constituency name' ) %>
			<% end -%>
		</td>
		
		<td class="default-ascending">
			<% if @sort == 'candidate-name' -%>
				<% if @order == 'ascending' -%>
					<%= link_to( 'Candidate', general_election_party_election_won_url( :sort => 'candidate-name', :order => 'descending', :anchor => 'results' ), :class => 'sorted', :title => 'Sort by candidate name' ) %>
				<% else -%>
					<%= link_to( 'Candidate', general_election_party_election_won_url( :sort => 'candidate-name', :order => 'ascending', :anchor => 'results' ), :class => 'sorted', :title => 'Sort by candidate name' ) %>
				<% end -%>
			<% else -%>
				<%= link_to( 'Candidate', general_election_party_election_won_url( :sort => 'candidate-name', :order => 'ascending', :anchor => 'results' ), :title => 'Sort by candidate name' ) %>
			<% end -%>
		</td>
		
		<td class="default-descending number">
			<% if @sort == 'electorate' -%>
				<% if @order == 'ascending' -%>
					<%= link_to( 'Electorate', general_election_party_election_won_url( :sort => 'electorate', :order => 'descending', :anchor => 'results' ), :class => 'sorted', :title => 'Sort by electorate' ) %>
				<% else -%>
					<%= link_to( 'Electorate', general_election_party_election_won_url( :sort => 'electorate', :order => 'ascending', :anchor => 'results' ), :class => 'sorted', :title => 'Sort by electorate' ) %>
				<% end -%>
			<% else -%>
				<%= link_to( 'Electorate', general_election_party_election_won_url( :sort => 'electorate', :order => 'descending', :anchor => 'results' ), :title => 'Sort by electorate' ) %>
			<% end -%>
		</td>
		
		<td class="default-descending number">
			<% if @sort == 'turnout' -%>
				<% if @order == 'ascending' -%>
					<%= link_to( 'Turnout', general_election_party_election_won_url( :sort => 'turnout', :order => 'descending', :anchor => 'results' ), :class => 'sorted', :title => 'Sort by turnout' ) %>
				<% else -%>
					<%= link_to( 'Turnout', general_election_party_election_won_url( :sort => 'turnout', :order => 'ascending', :anchor => 'results' ), :class => 'sorted', :title => 'Sort by turnout' ) %>
				<% end -%>
			<% else -%>
				<%= link_to( 'Turnout', general_election_party_election_won_url( :sort => 'turnout', :order => 'descending', :anchor => 'results' ), :title => 'Sort by turnout' ) %>
			<% end -%>
		</td>
		
		<td class="default-descending number">
			<% if @sort == 'vote-count' -%>
				<% if @order == 'ascending' -%>
					<%= link_to( 'Votes', general_election_party_election_won_url( :sort => 'vote-count', :order => 'descending', :anchor => 'results' ), :class => 'sorted', :title => 'Sort by vote count' ) %>
				<% else -%>
					<%= link_to( 'Votes', general_election_party_election_won_url( :sort => 'vote-count', :order => 'ascending', :anchor => 'results' ), :class => 'sorted', :title => 'Sort by vote count' ) %>
				<% end -%>
			<% else -%>
				<%= link_to( 'Votes', general_election_party_election_won_url( :sort => 'vote-count', :order => 'descending', :anchor => 'results' ), :title => 'Sort by vote count' ) %>
			<% end -%>
		</td>
		
		<td class="default-descending number">
			<% if @sort == 'vote-share' -%>
				<% if @order == 'ascending' -%>
					<%= link_to( 'Vote share', general_election_party_election_won_url( :sort => 'vote-share', :order => 'descending', :anchor => 'results' ), :class => 'sorted', :title => 'Sort by vote share' ) %>
				<% else -%>
					<%= link_to( 'Vote share', general_election_party_election_won_url( :sort => 'vote-share', :order => 'ascending', :anchor => 'results' ), :class => 'sorted', :title => 'Sort by vote share' ) %>
				<% end -%>
			<% else -%>
				<%= link_to( 'Vote share', general_election_party_election_won_url( :sort => 'vote-share', :order => 'descending', :anchor => 'results' ), :title => 'Sort by vote share' ) %>
			<% end -%>
		</td>
		
		<td class="default-descending number">
			<% if @sort == 'vote-change' -%>
				<% if @order == 'ascending' -%>
					<%= link_to( 'Vote change', general_election_party_election_won_url( :sort => 'vote-change', :order => 'descending', :anchor => 'results' ), :class => 'sorted', :title => 'Sort by vote change' ) %>
				<% else -%>
					<%= link_to( 'Vote change', general_election_party_election_won_url( :sort => 'vote-change', :order => 'ascending', :anchor => 'results' ), :class => 'sorted', :title => 'Sort by vote change' ) %>
				<% end -%>
			<% else -%>
				<%= link_to( 'Vote change', general_election_party_election_won_url( :sort => 'vote-change', :order => 'descending', :anchor => 'results' ), :title => 'Sort by vote change' ) %>
			<% end -%>
		</td>
		
		<td class="default-descending number">
			<% if @sort == 'majority' -%>
				<% if @order == 'ascending' -%>
					<%= link_to( 'Majority', general_election_party_election_won_url( :sort => 'majority', :order => 'descending', :anchor => 'results' ), :class => 'sorted', :title => 'Sort by majority' ) %>
				<% else -%>
					<%= link_to( 'Majority', general_election_party_election_won_url( :sort => 'majority', :order => 'ascending', :anchor => 'results' ), :class => 'sorted', :title => 'Sort by majority' ) %>
				<% end -%>
			<% else -%>
				<%= link_to( 'Majority', general_election_party_election_won_url( :sort => 'majority', :order => 'descending', :anchor => 'results' ), :title => 'Sort by majority' ) %>
			<% end -%>
		</td>
	</tr>
</thead>