<%= render :partial => 'general_election/counts', :object => @general_election %>

<% if @general_election.has_results? -%>
	<%= render :partial => 'nav' %>

	<% if @elections_won.empty? %>
		<%= content_tag( 'p', 'No elections won.' ) %>
	<% else -%>
		<div class="table-wrapper">
			<table id="results" class="sortable sorted-<%= @order %>">
				<%= render :partial => 'general_election_country_party_election/table_head_won_notional' %>
				<tbody>
					<%= render :partial => 'general_election_party_election/notional_election_won', :collection => @elections_won %>
				</tbody>
			</table>
		</div>
		<%= render :partial => 'turnout/notice' %>
	<% end -%>
<% end -%>
<%= render :partial => 'notional/notice' %>