<%= render :partial => 'nav' if @general_election.has_results? %>

<%= render :partial => 'general_election/counts', :object => @general_election %>

<%= content_tag( 'p', @political_party.disclaimer ) if @political_party.disclaimer %>

<% if @general_election.has_results? -%>
	<% if @elections_contested.empty? %>
		<%= content_tag( 'p', 'No elections contested.' ) %>
	<% else -%>
		<div class="table-wrapper">
		<table id="results" class="sortable sorted-<%= @order %>">
				<%= render :partial => 'general_election_party_election/table_head_contested_notional' %>
				<tbody>
					<%= render :partial => 'notional_election_contested', :collection => @elections_contested %>
				</tbody>
			</table>
		</div>
		<%= render :partial => 'turnout/notice' %>
		<%= render :partial => 'lost_deposit/notice', :object => @general_election.polling_on %>
	<% end -%>
<% end -%>

<%= render :partial => 'notional/notice' %>

<% if @general_election.has_results? -%>
	<% unless @elections_contested.empty? %>
		<div id="downloads">
			<p>
				<%= csv_icon_link(	general_election_party_election_list_url( :format => 'csv' ), "Download the data shown on this page: #{@political_party.name} candidates as a CSV file." ) %>
			</p>
			<p>
				<%= csv_icon_link(	general_election_candidacy_list_url( :format => 'csv' ), "Download the full data set: candidate-level general election result data as a CSV file." ) %>
			</p>
		</div>
	<% end -%>
<% end -%>