<%= render :partial => 'previous_next_won', :object => @general_election %>

<%= render :partial => 'general_election/counts', :object => @general_election %>

<% if @general_election.has_results? -%>
	<%= render :partial => 'nav' %>

	<% if @elections_won.empty? %>
		<%= content_tag( 'p', 'No elections won.' ) %>
	<% else -%>
		<div class="table-wrapper">
			<table id="results" class="sortable sorted-<%= @order %>">
				<%= render :partial => 'general_election_party_election/table_head_won' %>
				<tbody>
					<%= render :partial => 'election_won', :collection => @elections_won %>
				</tbody>
			</table>
		</div>
		<%= render :partial => 'turnout/notice' %>
		<div id="downloads">
			<p>
				<%= csv_icon_link(	general_election_party_election_won_url( :format => 'csv' ), "Download the data shown on this page: #{@political_party.name} winning candidates as a CSV file." ) %>
			</p>
			<p>
				<%= csv_icon_link(	general_election_candidacy_list_url( :format => 'csv' ), "Download the full data set: candidate-level general election result data as a CSV file." ) %>
			</p>
		</div>
	<% end -%>
<% end -%>