<%= render :partial => 'general_election/counts', :object => @general_election %>

<%= render :partial => 'general_election/nav' %>


<% unless @party_performances.empty? %>
	<table>
		<thead>
			<tr>
				<%= content_tag( 'td', 'Party' ) %>
				<%= content_tag( 'td', 'Constituencies contested', :class => 'number' ) %>
				<%= content_tag( 'td', 'Votes', :class => 'number' ) %>
				<%= content_tag( 'td', 'Vote share', :class => 'number' ) %>
				<%= content_tag( 'td', 'Constituencies won', :class => 'number' ) %>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => 'party_performance', :collection => @party_performances %>
		</tbody>
	</table>
<% end -%>

<%= render :partial => 'notional/notice' %>