<%= render :partial => 'general_election/counts', :object => @general_election %>

<%= render :partial => 'general_election_english_region/nav' %>

<% unless @elections.empty? %>
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<%= content_tag( 'td', 'Ranking' ) %>
					<%= content_tag( 'td', 'Constituency' ) %>
					<%= content_tag( 'td', 'Winning party' ) %>
					<%= content_tag( 'td', 'Vote share', :class => 'number' ) %>
				</tr>
			</thead>
			<tbody>
				<%= render :partial => 'general_election_vote_share/election_notional', :collection => @elections %>
			</tbody>
		</table>
	</div>
<% end -%>
<%= render :partial => 'notional/notice' %>