<tr>
	<%= content_tag( 'td', link_to( election.polling_on.strftime( $DATE_DISPLAY_FORMAT ), election_show_url( :election => election ) ) ) %>
	<%= content_tag( 'td', link_to( election.constituency_name, constituency_area_show_url( :constituency_area => election.constituency_area_id ) ) ) %>
	<td>
		<% if election.general_election_id -%>
			<%= link_to( 'General election', general_election_show_url( :general_election => election.general_election_id ) ) %>
		<% else -%>
			By-election
		<% end -%>
	</td>
	<td class="<%= election.main_party_class %>">
		<% if election.candidacy_standing_as_commons_speaker -%>
			<%= content_tag( 'abbr', 'Spk', :title => 'Speaker' ) %>
		<% elsif election.candidacy_standing_as_independent -%>
			<%= content_tag( 'abbr', 'Ind', :title => 'Indpendent' ) %>
		<% elsif election.adjunct_party_id -%>
			<%= "#{link_to( election.main_party_abbreviation, political_party_show_url( :political_party => election.main_party_id ), :title => election.main_party_name )} / #{content_tag( 'span', election.adjunct_party_abbreviation, :title => election.adjunct_party_name )}".html_safe %>
		<% else -%>
			<%= link_to( election.main_party_abbreviation, political_party_show_url( :political_party => election.main_party_id ), :title => election.main_party_name ) %>
		<% end -%>
	</td>
	
	<%# If the election is part of a general election but all results aren't available ... %>
	<% if election.general_election_id and election.general_election_publication_state < 3 -%>
		<%= content_tag( 'td', '-', :class => 'number' ) %>
		<%= content_tag( 'td', '-', :class => 'number' ) %>
		
		<%# If the candidate was in first position ... %>
		<% if election.candidacy_result_position == 1 %>
			
			<%# ... we show they came first. %>
			<%= content_tag( 'td', election.candidacy_result_position.ordinalize, :class => 'number'  ) %>
		
		<%# Otherwise, we can't show their position %>
		<% else -%>
			<%= content_tag( 'td', '-', :class => 'number'  ) %>
		<% end -%>
	<% else -%>
	
		<%= content_tag( 'td', election.candidacy_vote_count.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse, :class => 'number' ) %>
		<%= content_tag( 'td', "#{( election.candidacy_vote_share.to_f * 100 ).round( 1 )}%", :class => 'number' ) %>
		<%= content_tag( 'td', election.candidacy_result_position.ordinalize, :class => 'number'  ) %>
	<% end -%>
</tr>