<tr>
	<% if candidate.member_mnis_id -%>
		<%= content_tag( 'td', link_to( candidate.candidate_polling_name, member_show_url( :member => candidate.member_mnis_id ) ) ) %>
	<% else -%>
		<%= content_tag( 'td', candidate.candidate_polling_name ) %>
	<% end -%>
	<td class="<%= candidate.party_class_name %>">
	
		<% if candidate.adjunct_party_id -%>
			<%= link_to( candidate.main_party_name, political_party_show_url( :political_party => candidate.main_party_id ) ) %>
			/
			<%= candidate.adjunct_party_name %>
		<% elsif candidate.is_standing_as_commons_speaker == true -%>
			Speaker
		<% elsif candidate.is_standing_as_independent == true -%>
			Independent
		<% else -%>
			<%= link_to( candidate.main_party_name, political_party_show_url( :political_party => candidate.main_party_id ) ) %>
		<% end -%>
	</td>
	<td>
		<% if candidate.is_winning_candidacy -%>
			Elected
		<% else -%>
			-
		<% end -%>
	</td>
</tr>

