<tr>
	<% if candidacy.member_mnis_id -%>
		<%= content_tag( 'td', link_to( candidacy.candidate_polling_name, member_show_url( :member => candidacy.member_mnis_id ) ) ) %>
	<% else -%>
		<%= content_tag( 'td', candidacy.candidate_polling_name ) %>
	<% end -%>
	<td>
		<% if candidacy.is_standing_as_commons_speaker -%>
			<%= content_tag( 'abbr', 'Spk', :title => 'Speaker' ) %>
		<% elsif candidacy.is_standing_as_independent -%>
			<%= content_tag( 'abbr', 'Ind', :title => 'Independent' ) %>
		<% elsif candidacy.adjunct_party_id -%>
		
		<%= "#{link_to( candidacy.main_party_abbreviation, political_party_show_url( :political_party => candidacy.main_party_id ), :title => candidacy.main_party_name )} / #{link_to( candidacy.adjunct_party_abbreviation, political_party_show_url( :political_party => candidacy.adjunct_party_id ), :title => candidacy.adjunct_party_name )}".html_safe %>
		<% else -%>
			<%= link_to( candidacy.main_party_abbreviation, political_party_show_url( :political_party => candidacy.main_party_id ), :title => candidacy.main_party_name ) %>
		<% end -%>
	</td>
</tr>