<tr>
	<% if result.member_mnis_id -%>
		<%= content_tag( 'td', link_to( result.candidate_polling_name, member_show_url( :member => result.member_mnis_id ) ) ) %>
	<% else -%>
		<%= content_tag( 'td', result.candidate_polling_name ) %>
	<% end -%>
	<td class="<%= result.party_class_name %>">
	
		<% if result.adjunct_party_id -%>
			<%= link_to( result.main_party_abbreviation, political_party_show_url( :political_party => result.main_party_id ), :title => result.main_party_name ) %>
			/
			<%= content_tag( 'span', result.adjunct_party_abbreviation, :title => result.adjunct_party_name  )%>
		<% elsif result.is_standing_as_commons_speaker == true -%>
			<%= content_tag( 'abbr', 'Spk', :title => 'Speaker' ) %>
		<% elsif result.is_standing_as_independent == true -%>
			<%= content_tag( 'abbr', 'Ind', :title => 'Independent' )  %>
		<% else -%>
			<%= link_to( result.main_party_abbreviation, political_party_show_url( :political_party => result.main_party_id ), :title => result.main_party_name ) %>
		<% end -%>

	</td>
	<%= content_tag( 'td', result.vote_count.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse, :class => 'number' ) %>
	<%= content_tag( 'td', content_tag( 'abbr', "#{( result.vote_share.to_f * 100 ).round( 1 )}%" ), :class => 'number' ) %>
	<% if result.vote_change -%>
		<%= content_tag( 'td', content_tag( 'abbr', "#{( result.vote_change.to_f * 100 ).round( 1 )}%" ), :class => 'number' ) %>
	<% else -%>
		<%= content_tag( 'td', '-', :class => 'number' ) %>
	<% end -%>
</tr>

