<% if @election.constituency_area_id -%>
	<%= content_tag( 'p', "An election for the constituency area of #{link_to( @election.constituency_group_name, constituency_area_show_url( :constituency_area => @election.constituency_area_id ) )}, held as part of the #{link_to( "general election on #{@election.polling_on.strftime( $DATE_DISPLAY_FORMAT )}", general_election_show_url( :general_election => @election.general_election_polling_on) )}.".html_safe ) %>
<% else -%>
	<%= content_tag( 'p', "Held as part of the #{link_to( "general election on #{@election.polling_on.strftime( $DATE_DISPLAY_FORMAT )}", general_election_show_url( :general_election => @election.general_election_polling_on ) )}.".html_safe ) %>
<% end -%>



<div id="result-summary">
	<%= content_tag( 'p', "#{@election.result_summary_summary} by #{@election.winning_candidate_name} with a majority of #{@election.majority.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse} - #{ ( @election.majority_percentage * 100 ).round( 1 )}% - on a turnout of #{@election.turnout}%." ) %>
</div>

<%= render :partial => 'results_candidacies', :object => @candidacies %>

<%= render :partial => 'results_candidacies_chart', :object => @candidacies %>

<%= content_tag( 'p', "Result declared at #{@election.declaration_at.strftime( $DATE_TIME_DISPLAY_FORMAT )}.", :id => 'declaration' ) %>

<%= content_tag( 'p', "An electorate of #{@election.electorate_population_count.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse}, having a valid vote count of #{@election.valid_vote_count.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse} and an invalid vote count of #{@election.invalid_vote_count.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse}.", :id => 'count' ) %>