<%= render :partial => 'previous_next', :object => @election %>

<%= render :partial => 'intro', :object => @election %>

<div id="result-summary">
	<%= content_tag( 'p', "#{@election.result_summary_summary} by #{@election.winning_candidate_name} with a majority of #{@election.majority.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse} - #{ ( @election.majority_percentage * 100 ).round( 1 )}% - on a turnout of #{@election.turnout}%." ) %>
	<%= content_tag( 'p', "An electorate of #{@election.electorate_population_count.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse}, having a valid vote count of #{@election.valid_vote_count.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse} and an invalid vote count of #{@election.invalid_vote_count.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse}.", :id => 'count' ) %>
</div>

<%= render :partial => 'results_candidacies', :object => @candidacies %>

<%= election_writ_issued_text( @election ) %>

<%= content_tag( 'p', "Result declared at #{@election.declaration_at.strftime( $DATE_TIME_DISPLAY_FORMAT )}. Declarations times do not form part of election declarations and should be regarded as indicative rather than official." ) if @election.declaration_at %>

<%= render :partial => 'lost_deposit/notice', :object => @election.polling_on %>

<%= render :partial => 'notional_based_change_disclaimer', :object => @boundary_set_having_first_general_election, :locals => {:election => @election} if @boundary_set_having_first_general_election %>

<div id="downloads">
	<p>
		<%= csv_icon_link( election_candidate_results_url( :format => 'csv' ), "Download candidate result data as a CSV file.") %>
	</p>
</div>

<% if FEATURE_SHOW_ELECTION_TIME_SERIES -%>
	<iframe id="time-series" src="/time-series.html"></iframe>
<% end -%>