<% if @election.constituency_area_id -%>
	<%= content_tag( 'p', "An election for the constituency area of #{link_to( @election.constituency_group_name, constituency_area_show_url( :constituency_area => @election.constituency_area_id ) )}, held as part of the #{link_to( "general election on #{@election.polling_on.strftime( $DATE_DISPLAY_FORMAT )}", general_election_show_url( :general_election => @election.general_election.id) )}.".html_safe ) %>
<% else -%>
	<%= content_tag( 'p', "Held as part of the #{link_to( "general election on #{@election.polling_on.strftime( $DATE_DISPLAY_FORMAT )}", general_election_show_url( :general_election => @election.general_election.id) )}.".html_safe ) %>
<% end -%>

<table>
	<thead>
		<tr>
			<%= content_tag( 'td', 'Name' ) %>
			<%= content_tag( 'td', 'Gender' ) %>
			<%= content_tag( 'td', 'Party' ) %>
			<%= content_tag( 'td', 'Vote' ) %>
			<%= content_tag( 'td', 'Vote share' ) %>
			<%= content_tag( 'td', 'Vote change' ) %>
	</thead>
	<tbody>
		<%= render :partial => 'result', :collection => @candidacies %>
	</tbody>
</table>