<% if @election.constituency_area_geography_code -%>
	<%= content_tag( 'p', "An election for the constituency area of #{link_to( @election.constituency_group_name, constituency_area_show_url( :constituency_area => @election.constituency_area_geography_code ) )}, held as part of the #{link_to( "general election on #{@election.polling_on.strftime( $DATE_DISPLAY_FORMAT )}", general_election_show_url( :general_election => @election.general_election.id) )}.".html_safe ) %>
<% else -%>
	<%= content_tag( 'p', "Held as part of the #{link_to( "general election on #{@election.polling_on.strftime( $DATE_DISPLAY_FORMAT )}", general_election_show_url( :general_election => @election.general_election.id) )}.".html_safe ) %>
<% end -%>



<div id="result-summary">
	<%= content_tag( 'p', "#{@election.result_summary_summary} by #{@election.winning_candidate_name} with a majority of #{@election.majority.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse} on a turnout of #{@election.turnout}%." ) %>
</div>

<div id="candidacies">
	<%= content_tag( 'h2', 'Candidates' ) %>
	<table>
		<thead>
			<tr>
				<%= content_tag( 'td', 'Name' ) %>
				<%= content_tag( 'td', 'Party' ) %>
				<%= content_tag( 'td', 'Vote', :class => 'number' ) %>
				<%= content_tag( 'td', 'Vote share', :class => 'number' ) %>
				<%= content_tag( 'td', 'Vote change', :class => 'number' ) %>
		</thead>
		<tbody>
			<%= render :partial => 'result', :collection => @candidacies %>
		</tbody>
	</table>
</div>

<%= content_tag( 'p', "Result declared at #{@election.declaration_at.strftime( $DATE_TIME_DISPLAY_FORMAT )}.", :id => 'declaration' ) %>

<%= content_tag( 'p', "An electorate of #{@election.electorate_population_count.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse}, having a valid vote count of #{@election.valid_vote_count.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse} and an invalid vote count of #{@election.invalid_vote_count.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse}.", :id => 'count' ) %>