<div class="table-wrapper">
	<table>
		<thead>
			<tr>
				<%= content_tag( 'th', 'Polling date' ) %>
				<%= content_tag( 'th', 'Election type' ) %>
				<%= content_tag( 'th', 'Constituency' ) %>
				<%= content_tag( 'th', 'Parliament' ) %>
				<%= content_tag( 'th', 'Parliament summoned on' ) %>
				<%= content_tag( 'th', 'Parliament dissolved on' ) %>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => 'election_listing_item_row', :collection => @election_listing_items %>
		</tbody>
	</table>
</div>



@parliament_period_summoned_on=Tue, 13 Jun 2017, @parliament_period_dissolved_on=Tue, 05 Nov 2019,
