<%= render :partial => 'general_election_country/nav' %>

<%= render :partial => 'general_election/counts', :object => @general_election %>



<% unless @elections.empty? %>
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<%= content_tag( 'td', 'Ranking' ) %>
					<%= content_tag( 'td', 'Constituency' ) %>
					<%= content_tag( 'td', 'Winning party' ) %>
					<%= content_tag( 'td', 'Valid vote count', :class => 'number' ) %>
					<%= content_tag( 'td', 'Electorate', :class => 'number' ) %>
					<%= content_tag( 'td', 'Turnout (valid vote count / electorate)', :class => 'number' ) %>
				</tr>
			<tbody>
				<%= render :partial => 'general_election_turnout/election_notional', :collection => @elections %>
			</tbody>
		</table>
	</div>
<% end -%>
<%= render :partial => 'notional/notice' %>
<% unless @elections.empty? %>
	<div id="downloads">
		<p>
			<%= csv_icon_link(	general_election_country_turnout_list_url( :format => 'csv' ), "Download the data shown on this page: turnout data in #{@country.name} as a CSV file." ) %>
		</p>
		<p>
			<%= csv_icon_link(	general_election_country_candidacy_list_url( :format => 'csv' ), "Download the full data set: candidate-level general election result data in #{@country.name} as a CSV file." ) %>
		</p>
	</div>
<% end -%>