<%= render :partial => 'previous_next', :object => @general_election %>

<%= render :partial => 'counts', :object => @general_election %>

<%= render :partial => 'nav' %>

<% unless @elections.empty? %>

	<div id="countries">
		<%= content_tag( 'h2', 'Elections by country' ) %>
		<ol>
			<%= render :partial => 'general_election_country/country', :collection => @countries %>
		</ol>
	</div>

	<iframe id="cartogram" src="/cartogram/general-elections/<%= @general_election.polling_on %>/uk.html">
	
	<p>
      <a href="/cartogram/general-elections/<%= @general_election.polling_on %>/uk.html">
        View elections wins and gains on a clickable map
      </a>
    </p>
    
    </iframe>


	<div id="all">
		<%= content_tag( 'h2', 'All elections' ) %>
		<ol>
			<%= render :partial => 'election/election', :collection => @elections %>
		</ol>
	</div>
<% end -%>