<%= render :partial => 'previous_next', :object => @general_election %>

<%= render :partial => 'counts', :object => @general_election %>

<%= render :partial => 'nav' %>

<% unless @elections.empty? %>

	<div id="countries">
		<%= content_tag( 'h2', 'Elections by country' ) %>
		<ol>
			<%= render :partial => 'general_election_country/country', :collection => @countries %>
		</ol>
	</div>

	<% if @general_election.polling_on == Date.new( 2019,12,12 ) -%>
		<iframe id="cartogram" src="/cartogram/general-elections/2019-12-12/uk.html"></iframe>
	<% end -%>

	<div id="all">
		<%= content_tag( 'h2', 'All elections' ) %>
		<ol>
			<%= render :partial => 'election/election', :collection => @elections %>
		</ol>
	</div>
<% end -%>