<%= render :partial => 'general_election/counts', :object => @general_election %>

<%= render :partial => 'general_election_country/nav' %>

<% unless @elections.empty? %>
	<table>
		<thead>
			<tr>
				<%= content_tag( 'td', 'Ranking' ) %>
				<%= content_tag( 'td', 'Constituency' ) %>
				<%= content_tag( 'td', 'Winning party' ) %>
				<%= content_tag( 'td', 'Majority', :class => 'number' ) %>
				<%= content_tag( 'td', 'Valid vote count', :class => 'number' ) %>
				<%= content_tag( 'td', 'Majority / valid vote count', :class => 'number' ) %>
			</tr>
		<tbody>
			<%= render :partial => 'general_election_majority/election_notional', :collection => @elections %>
		</tbody>
	</table>
<% end -%>
<%= render :partial => 'notional/notice' %>