<%= render :partial => 'previous_next', :object => @boundary_set %>

<%= render :partial => 'boundary_set/nav' %>



<% if @general_elections.empty? -%>
	<%= content_tag( 'p', 'General election party performance information is not yet available.' ) %>
<% else -%>
	<%= content_tag( 'h2', 'Constituencies won' ) %>
	<div class="table-wrapper">
		<table id="party-performance">
			<thead>
				<tr>
					<%= content_tag( 'td', 'General election' ) %>
					<%= render :partial => 'header', :collection => @unique_parties %>
				</tr>
			</thead>
			<tbody>
				<%= render :partial => 'general_election', :collection => @general_elections %>
			</tbody>
		</table>
	</div>
<% end -%>