<%= content_tag( 'p', "A Parliament period is the time period of a single Parliament between the date of its first assembly after a general election and the dissolution of that Parliament. A general election is held 25 days - excluding weekends or bank holidays - after a dissolution. Parliament periods are the same in both Houses. Parliaments of the United Kingdom are numbered ordinally from the first Parliament, sitting in 1801." ) %>

<table>
	<thead>
		<tr>
			<%= content_tag( 'td', 'Parliament period' ) %>
			<%= content_tag( 'td', 'Summoned on' ) %>
			<%= content_tag( 'td', 'Dissolved on' ) %>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'parliament_period', :collection => @parliament_periods %>
	</tbody>
</table>
<%= content_tag( 'p', link_to( content_tag( 'span', 'CSV' ), parliament_period_list_url( :format => 'csv' ), :title => 'Download Parliament period data as a CSV', :class => 'csv' ) ) %>