<%= render :partial => 'previous_next', :object => @boundary_set %>

<%= render :partial => 'boundary_set/nav', :object => @boundary_set %>

<% if @elections.empty? -%>
	<%= content_tag( 'p', 'General election turnout information is not yet available.' ) %>
<% else -%>
	<div class="table-wrapper">
		<table id="turnout" class="multibody">
			<thead>
				<tr>
					<%= content_tag( 'th', 'Constituency area' ) %>
					<%= content_tag( 'th', 'Election type' ) %>
					<%= content_tag( 'th', 'Polling date' ) %>
					<%= content_tag( 'th', 'Winning party' ) %>
					<%= content_tag( 'th', 'Valid vote count', :class => 'number' ) %>
					<%= content_tag( 'th', 'Electorate', :class => 'number' ) %>
					<%= content_tag( 'th', 'Turnout (valid vote count / electorate)', :class => 'number' ) %>
				</tr>
			</thead>
			<tbody>
				<%= render :partial => 'turnout', :collection => @elections, cached: true, :locals => {:boundary_set => @boundary_set} %>
			</tbody>
		</table>
	</div>
<% end -%>