<%= render :partial => 'previous_next', :object => @boundary_set %>

<%= render :partial => 'boundary_set/nav' %>

<% unless @elections.empty? -%>
	
<% end -%>


<% if @elections.empty? -%>
	<%= content_tag( 'p', 'General election turnout information is not yet available.' ) %>
<% else -%>
	<table id="turnout" class="multibody">
		<thead>
			<tr>
				<%= content_tag( 'td', 'Constituency area' ) %>
				<%= content_tag( 'td', 'General election' ) %>
				<%= content_tag( 'td', 'Winning party' ) %>
				<%= content_tag( 'td', 'Valid vote count', :class => 'number' ) %>
				<%= content_tag( 'td', 'Electorate', :class => 'number' ) %>
				<%= content_tag( 'td', 'Turnout (valid vote count / electorate)', :class => 'number' ) %>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => 'turnout', :collection => @elections, cached: true %>
		</tbody>
	</table>
	</table>
<% end -%>