<div id="notional-notice">
	
	<%# If these are notional results for 2019 ... %>
	<% if @general_election.polling_on.year == 2019 -%>
	
		<%# ... we show the 2019 notional results message. %>
		<%= content_tag( 'h2', "Estimates of the 2019 general election result in new constituencies" ) %>
		<%= content_tag( 'p', "BBC News, ITV News, Sky News and the Press Association have together produced estimates of the 2019 general election result as if the new constituencies recommended by the separate Parliamentary Boundary Commissions for England, Scotland, Wales and Northern Ireland had then been in existence." ) %>
		<%= content_tag( 'p', "Rallings & Thrasher, Professor David Denver (Scotland), Nicholas Whyte (NI) for Sky News, PA, BBC News and ITV News." ) %>
		<%= content_tag( 'p', "An explanation of the methods used and the electoral impact of the changes can be found in #{link_to( 'the linked document', 'https://downloads.bbc.co.uk/news/nol/shared/bsp/hi/pdfs/bounds_explainer.pdf' )}.".html_safe ) %>
	
	<%# Otherwise, if these are notional results for 2005 ... %>
	<% elsif @general_election.polling_on.year == 2005 -%>
	
		<%# ... we show the 2005 notional results message. %>
		<%= content_tag( 'h2', "Estimates of the 2005 general election result in new constituencies" ) %>
		<%= content_tag( 'p', "Professors Colin Rallings and Michael Thrasher, at #{link_to( 'The Elections Centre', 'https://www.exeter.ac.uk/research/centres/elections-centre/' )} of the University of Exeter, produced estimates of the 2005 general election result as if the new constituencies recommended by the separate Parliamentary Boundary Commissions for England, Wales and Northern Ireland had then been in existence.".html_safe ) %>
	<% end -%>
</div>