<footer role="contentinfo">
	<div class="container">
        <div class="row">
			
			<%= content_tag( 'p', "&copy; House of Commons #{Date.today.year}. Re-use our content freely and flexibly with only a few conditions under the #{link_to( 'Open Parliament Licence', 'https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence/', :rel => 'license' ) }.".html_safe ) %>
        
			<p>
				<%= link_to( 'Coverage', meta_coverage_url )  %>
				-
				<%= link_to( 'Roadmap', meta_roadmap_url )  %>
				-
				<%= link_to( 'Contact', meta_contact_url )  %>
				-
				<%= link_to( 'Datasette endpoint', 'https://psephology-datasette-f3e7b1b7eb77.herokuapp.com/' )  %>
				-
				<%= link_to( 'Database schema', meta_schema_url )  %>
			</p>
			<p>
				<a href="https://www.parliament.uk/site-information/accessibility/">Accessibility statement</a>
				-
				<%= link_to( 'Cookies', meta_cookies_url )  %>
				-
				<a href="https://commonslibrary.parliament.uk/privacy-policy/">Privacy notice</a>
			</p>
					
		</div>
	</div>
</footer>
