<footer>

	<div class="container">
        <div class="row">
		<p>
			<%= link_to( 'Coverage', meta_coverage_url )  %>
			-
			<%= link_to( 'Roadmap', meta_roadmap_url )  %>
			-
			<%= link_to( 'Cookies', meta_cookies_url )  %>
			-
			<%= link_to( 'Contact', meta_contact_url )  %>
			-
			<%= link_to( 'Database schema', meta_schema_url )  %>
		</p>
		<p>
			<a href="https://www.parliament.uk/site-information/accessibility/">Accessibility statement</a>
		</p>
		<%= content_tag( 'p', "Made available under an #{link_to( 'Open Parliament Licence', 'https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence/', :rel => 'license' ) } by the #{link_to( 'House of Commons Library', 'https://commonslibrary.parliament.uk/' )}.".html_safe ) %>			
	</div></div>
</footer>