<footer>
	<nav>
		<p>
			<%= link_to( 'General elections', general_election_list_url )  %>
			-
			<%= link_to( 'By-elections', by_election_list_url )  %>
			-
			<%= link_to( 'Constituency areas', constituency_area_list_current_url )  %>
			-
			<%= link_to( 'Members', member_list_url )  %>
			-
			<%= link_to( 'Political parties', political_party_list_url )  %>
			-
			<%= link_to( 'Boundary sets', boundary_set_list_url )  %>
			-
			<%= link_to( 'Acts of Parliament', act_of_parliament_list_url )  %>
			-
			<%= link_to( 'Orders in Council', order_in_council_list_url )  %>
			-
			<%= link_to( 'Countries', country_list_url )  %>
		</p>
		<p>
			Meta:
			<%= link_to( 'About', meta_about_url )  %>
			-
			<%= link_to( 'Schema', meta_schema_url )  %>
		<p>
			Made available under an <%= link_to( 'Open Parliament Licence', 'https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence/' ) %>.
		</p>					
	</nav>
</footer>