<nav id="header-nav">
	<%= link_to( 'General elections', general_election_list_url, :class => 'general-elections' )  %>
	<!-- %= link_to( 'By-elections', by_election_list_url, :class => 'by-elections' )  % -->
	<%= link_to( 'Constituency areas', constituency_area_list_current_url, :class => 'constituency-areas' )  %>
	<%= link_to( 'Political parties', political_party_winning_list_url, :class => 'political-parties' )  %>
	<%= link_to( 'Members', member_list_url, :class => 'members' )  %>
	<%= link_to( 'Parliament periods', parliament_period_list_url, :class => 'parliament-periods' )  %>
	<%= link_to( 'Boundary sets', boundary_set_list_url, :class => 'boundary-sets' )  %>
	<%= link_to( 'Legislation', act_of_parliament_list_url, :class => 'legislation' )  %>
</nav>