<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8">
	    <meta name="format-detection" content="telephone=no">
	    <meta name="viewport" content="width=device-width">
	    <meta name="description" content="UK Parliament election results">
		<title><%= @page_title || 'UK Parliament election results' %></title>
		<%= favicon_link_tag asset_path('favicon.ico') %>
 		<%= stylesheet_link_tag "application" %>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
	</head>
	<body>
		<%= render :partial => 'layouts/header' %>
		<%= render :partial => 'layouts/crumb' %>
		
		<div class="mantelpiece">
			<div class="container">
				<%= render :partial => 'layouts/nav' %>
				<h1><%= @multiline_page_title || @page_title || 'UK Parliament election results' %></h1>
			</div>
		</div>
		
		
		<main id="main-content" class="container">
			<div class="inner-content container">
				<%= yield %>
				
				
			</div>
		</main>
		<%= render :partial => 'layouts/footer' %>	
	</body>
</html>
