<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8">
	    <meta name="format-detection" content="telephone=no">
	    <meta name="viewport" content="width=device-width">
		<title><%= @page_title || 'UK Parliament election results' %></title>
		<link rel="stylesheet" type="text/css" href="/psephology.css" />
	    <style>
			
		</style>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
	</head>
	<body>
		<%= render :partial => 'layouts/header' %>
		<%= render :partial => 'layouts/nav' %>
		<main>
			<h1><%= @multiline_page_title || @page_title || 'UK Parliament election results' %></h1>
			<%= yield %>
		</main>
		<%= render :partial => 'layouts/footer' %>
	</body>
</html>
