<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8">
	    <meta name="format-detection" content="telephone=no">
	    <meta name="viewport" content="width=device-width">
		<% if @page_title %>
			<title>UK Parliament election results: <%= @page_title %></title>
			<meta name="twitter:title" content="UK Parliament election results: <%= @page_title %>">
			<meta property="og:title" content="UK Parliament election results: <%= @page_title %>">
		<% else -%>
			<title>UK Parliament election results</title>
			<meta name="twitter:title" content="UK Parliament election results">
			<meta property="og:title" content="UK Parliament election results">
		<% end -%>
		
		<% if @description -%>
			<meta name="description" content="<%= @description %>">
			<meta property="og:description" content="<%= @description %>">
		<% else -%>
			<% if @page_title %>
				<meta name="description" content="Results of elections to the Parliament of the United Kingdom: <%= @page_title %>.">
				<meta property="og:description" content="Results of elections to the Parliament of the United Kingdom: <%= @page_title %>.">
			<% else -%>
				<meta name="description" content="Results of elections to the Parliament of the United Kingdom.">
				<meta property="og:description" content="Results of elections to the Parliament of the United Kingdom.">
			<% end -%>
		<% end -%>
		
		<link rel="canonical" href="<%= url_for(:only_path => false, :protocol => 'https') %>">
		<% if @csv_url -%>
			<link rel="alternate" href="<%= @csv_url %>" type="text/csv">
		<% end -%>
		
		<meta property="og:locale" content="en_GB" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://electionresults.parliament.uk/" />
		<meta property="og:site_name" content="UK Parliament election results" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@commonslibrary" />
		<%= favicon_link_tag asset_path('favicon.ico') %>
 		<%= stylesheet_link_tag "application" %>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<script type="application/ld+json">
		    {
		      "@context": "https://schema.org",
		      "@type": "BreadcrumbList",
		      "itemListElement": [{
		        "@type": "ListItem",
		        "position": 1,
		        "name": "UK Parliament",
		        "item": "https://www.parliament.uk/"
		      },{
		        "@type": "ListItem",
		        "position": 2,
		        "name": "House of Commons Library",
		        "item": "https://commonslibrary.parliament.uk/"
		      },{
		        "@type": "ListItem",
		        "position": 3,
		        "name": "Election Results"
		      }]
		    }
	    </script>
	</head>
	<body class="section-<%= @section %> subsection-<%= @subsection %>">
		<%= render :partial => 'layouts/header' %>
		
		<div class="container">
			<%= render :partial => 'layouts/no_results_yet' if FEATURE_FLAG_NO_RESULTS_YET %>
		</div>
		<main id="main-content" class="container">
			<div class="inner-content container">
				<div class="reading-width">
					<%= render :partial => 'layouts/debug' %>
					<h1><%= @multiline_page_title || @page_title || 'UK Parliament election results' %></h1>
					<%= yield %>
				</div>
			</div>
		</main>
		<%= render :partial => 'layouts/footer' %>	
	</body>
</html>
