<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8">
	    <meta name="format-detection" content="telephone=no">
	    <meta name="viewport" content="width=device-width">
	    <meta name="description" content="UK Parliament election results">
		<title><%= @page_title || 'UK Parliament election results' %></title>
	    <style>
			.mantelpiece {
				background-color: #006E45;
				color: #fff;
				padding: 1.5em 0;
			}
			.mantelpiece h1 {
     		   	font-size: 2rem;
     		  	font-weight: 500;
     		 	line-height: 1.1;
			}
			.mantelpiece a {
				color: #fff;
			}
			.mantelpiece a:hover {
				color: #fff;
				text-decoration: none;
			}
			.mantelpiece nav {
				padding-bottom: 1em;
				
			}
			h1 span[class=subhead] {
				display: block;
				font-size: .8em;
			}
			main {
     		   padding: 2rem 0;
		   	}
 		  	a {
				text-underline-offset: 0.1em;
				text-decoration-color: lightgray;
			}
 h1{
     font-weight:normal;
     font-size:2rem;
}
 h2{
     font-weight:normal;
     font-size:1.75rem;
}
 address {
     font-style:normal 
}
 #result-summary {
     border: 1px solid #000;
     font-weight: bold;
     padding: 1em;
}
 table {
     border-collapse:collapse;
     margin-bottom:10px;
     width:100% 
}
 table thead {
     background-color: #fff;
     position: sticky;
     top: 0;
}

/* Sortable tables */
table.sortable thead a {
	background-image: url("/sort.png");
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	padding-left: 1.5em;
	text-decoration: none;
}
table.sortable thead .number a {
	background-position: right;
	padding-right: 1.5em;
}
table.sortable.sorted-ascending thead td a.sorted {
	background-image: url("/sort-up.png");
}
table.sortable.sorted-descending thead td a.sorted {
	background-image: url("/sort-down.png");
}
 tbody tr:nth-child(2n) {
     background-color:#efefef 
}
 table.multibody tr:nth-child(2n) {
     background-color: transparent;
}
 table.multibody tr {
     border-bottom: 1.5px solid #eee;
}
 table.multibody tr:last-child {
     border-color: #bbb;
}
 td, th {
     padding:6px;
     text-align:left 
}
 td.number {
     text-align: right;
}
 ol.previous-next {
     list-style: none;
     padding: 0 0 2em 0;
}
 ol.previous-next li.previous {
     float:left;
}
 ol.previous-next li.next {
     float: right;
}
 p {
     clear: both;
}
/* Not specified */
 td.party {
     border-left: .8em solid #909090;
}
/* Conservative */
 td.PP52 {
     border-left-color: #0063ba;
}
/* Sein Fein */
 td.PP39 {
     border-left-color: #02665f;
}
/* Brexit / Reform */
 td.PP7931 {
     border-left-color: #12b6cf;
}
/* Plaid Cymru */
 td.PP77 {
     border-left-color: #348837;
}
/* SDLP */
 td.PP55 {
     border-left-color: #4ea268;
}
/* UKIP */
 td.PP85 {
     border-left-color: #722889;
}
/* Green */
 td.PP63 {
     border-left-color: #78b82a;
}
/* UUP */
 td.PP83 {
     border-left-color: #a1cdf0;
}
/* DUP */
 td.PP70 {
     border-left-color: #cc3300;
}
/* Alliance */
 td.PP103 {
     border-left-color: #cdaf2d;
}
/* Labour */
 td.PP53 {
     border-left-color: #d50000;
}
/* Liberal Democrats */
 td.PP90 {
     border-left-color: #faa01a;
}
/* SNP */
 td.PP102 {
     border-left-color: #fff685;
}

 *,:after,:before {
     box-sizing: border-box 
}
 html {
     -webkit-text-size-adjust: 100%;
     -webkit-tap-highlight-color: transparent;
     font-family: sans-serif;
     line-height: 1.15 
}
 article,aside,figcaption,figure,footer,header,hgroup,main,nav,section {
     display: block 
}
 body {
     background-color: #fff;
     color: #212529;
     font-family: system-ui;
/*      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */
     
     font-size: 1rem;
     font-weight: 400;
     margin: 0;
     text-align: left 
}
 h1,h2,h3,h4,h5,h6 {
     margin-bottom: .5rem;
     margin-top: 0 
}
 p {
     margin-bottom: 4rem;
     margin-top: 0 
}
 a {
     background-color: transparent;
     color: #007bff;
     text-decoration: none 
}
 a:hover {
     color: #0056b3;
     text-decoration: underline 
}
 a:not([href]):not([class]),a:not([href]):not([class]):hover {
     color: inherit;
     text-decoration: none 
}
 .container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl {
     margin-left: auto;
     margin-right: auto;
     padding-left: 15px;
     padding-right: 15px;
     width: 100% 
}
 @media(min-width: 576px) {
     .container,.container-sm {
         max-width:540px 
    }
}
 @media(min-width: 768px) {
     .container,.container-md,.container-sm {
         max-width:720px 
    }
}
 @media(min-width: 992px) {
     .container,.container-lg,.container-md,.container-sm {
         max-width:960px 
    }
}
 @media(min-width: 1200px) {
     .container,.container-lg,.container-md,.container-sm,.container-xl {
         max-width:1140px 
    }
}

 .breadcrumb {
     background-color: #e9ecef;
     border-radius: .25rem;
     display: flex;
     flex-wrap: wrap;
     list-style: none;
     margin-bottom: 1rem;
     padding: .75rem 1rem 
}
 .breadcrumb-item+.breadcrumb-item {
     padding-left: .5rem 
}
 .breadcrumb-item+.breadcrumb-item:before {
     color: #6c757d;
     content: "/";
     float: left;
     padding-right: .5rem 
}
 .breadcrumb-item+.breadcrumb-item:hover:before {
     text-decoration: underline;
     text-decoration: none 
}
 .breadcrumb-item.active {
     color: #6c757d 
}
 @font-face {
     font-family: National;
     font-display: swap;
     src: url(/fonts/National-LFS-Book.woff2);
     src: url(/fonts/National-LFS-Book.woff2) format("woff2") 
}
 @font-face {
     font-family: National;
     font-display: swap;
     font-weight: 500;
     src: url(/fonts/National-LFS-Semibold.woff2);
     src: url(/fonts/National-LFS-Semibold.woff2) format("woff2") 
}
 body,html {
     height: 100% 
}
 body {
     background-color: #ebe9e8;
     color: #000;
     display: flex;
     flex-direction: column;
     font-family: National,Arial,Helvetica,sans-serif;
     font-size: 1.125rem;
     line-height: 1.5 
}

 body main {
     color: #4d4d4d;
     flex: 1 0 auto 
}
 body a {
     color: #373151;
     text-decoration: underline 
}
 p {
     margin-bottom: 18px 
}
 header {
     background-color: #373151;
     color: #fff;
     padding: 5px 0 
}
 header .container {
     position: relative;
}

 @media(min-width: 992px) {
     header .p-primary-nav {
         position:absolute;
         right: 15px;
         top: -20px 
    }
}
 @media(min-width: 768px) {
     header {
         padding:20px 0 
    }
}
 header a.parliament-home {
     display: inline-block;
     padding: 2px 
}
 header a.parliament-home svg {
     width: 100px 
}
 @media(min-width: 768px) {
     header a.parliament-home svg {
         width:159px 
    }
}

 header a,header a:hover {
     color: #fff;
     text-decoration: none 
}
 header .product-header {
     border-top: 1px solid #625a75;
     margin-top: 5px;
     padding: 15px 0 10px 
}
 @media(min-width: 768px) {
     header .product-header {
         margin-top:20px;
         padding: 20px 0 0 
    }
}
 header .product-header .title {
     color: #fff;
     font-size: 2rem;
     font-weight: 500;
     line-height: 1.1 
}
 @media(min-width: 768px) {
     header .product-header .title {
         font-size:2.3rem;
         line-height: 1.1 
    }
}
 footer {
     background-color: #373151;
     color: #fff;
     flex-shrink: 0;
     font-size: 1rem;
     line-height: 1.4;
     padding: 10px 0 
}
 footer a,footer a:hover {
     color: #fff 
}

 a.skip-to-content {
     border: none;
     height: 1px;
     margin: -1px;
     overflow: hidden;
     position: absolute;
     width: 1px 
}
 .context-nav {
     background-color: #625a75;
     color: #fff;
     font-size: 1rem;
     line-height: 1.4;
     padding: 5px 0;
     position: relative 
}
 .context-nav .container {
     display: flex;
     justify-content: space-between;
     position: relative 
}
 .context-nav .container:not(.default-width) {
     width: 100% 
}
 .context-nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0 
}
 .context-nav a {
     color: #fff;
     text-decoration: underline 
}
 .context-nav a:hover {
     color: #fff 
}
 .context-nav a:focus {
     box-shadow: 0 0 0 2px #96dcbe;
     color: #373151;
     outline: none 
}
 .context-nav .breadcrumb {
     background-color: transparent;
     border-radius: 0;
     display: block;
     margin: 0;
     overflow: visible;
     padding: 0;
     text-overflow: clip;
     width: 100% 
}
 .context-nav .breadcrumb li {
     display: inline;
     margin-right: 5px 
}
 .context-nav .breadcrumb li:after {
     content: ">";
     font-size: 12px;
     font-weight: 900;
     margin-left: 7px 
}
 .context-nav .breadcrumb li:last-child:after {
     display: none 
}
		</style>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
	</head>
	<body>
		<%= render :partial => 'layouts/header' %>
		<%= render :partial => 'layouts/crumb' %>
		
		<div class=" mantelpiece">
			<div class="container">
				<%= render :partial => 'layouts/nav' %>
				<h1><%= @multiline_page_title || @page_title || 'UK Parliament election results' %></h1>
			</div>
		</div>
		
		
		<main id="main-content">
			<div class="container">
				<%= yield %>
			</div>
		</main>
		<%= render :partial => 'layouts/footer' %>	
	</body>
</html>
