<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8">
	    <meta name="format-detection" content="telephone=no">
	    <meta name="viewport" content="width=device-width">
		<link rel="canonical" href="<%= url_for(:only_path => false, :protocol => 'https') %>">
<%- if @page_title %>
  <title><%= @page_title %></title>
  <meta name="description" content="UK Parliament election results: <%= @page_title %>">
<%- else %>
<title>UK Parliament election results</title>
<meta name="description" content="UK Parliament election results">
<%- end %>
		<%= favicon_link_tag asset_path('favicon.ico') %>
 		<%= stylesheet_link_tag "application" %>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
	</head>
	<body>
		<%= render :partial => 'layouts/header' %>
		<main id="main-content" class="container">
			<div class="inner-content container">
				<div class="reading-width">
					<%= render :partial => 'layouts/no_results_yet' if FEATURE_FLAG_NO_RESULTS_YET %>
					<h1><%= @multiline_page_title || @page_title || 'UK Parliament election results' %></h1>
					<%= yield %>
				</div>
			</div>
		</main>
		<%= render :partial => 'layouts/footer' %>	
	</body>
</html>
